
.countdown-card-outer { background: var(--color-very-dark-blue); }

.countdown-card { perspective: 500px; }

.countdown-card-inner {   
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background: var(--color-dark-desaturated-blue); 
}

.countdown-card-inner:hover { transform: rotateX(-180deg); }

.countdown-card-front, .countdown-card-back { 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.countdown-card-front { background: var(--color-dark-desaturated-blue); }

.countdown-card-back { transform: rotateX(180deg); }

.countdown-card-shadow { background: rgba(0,0,0,0.16); }

.countdown-card-circle { background: var(--color-very-dark-blue); }
.countdown-number { color: var(--color-soft-red); }